table {
    background: #E8C45D;
}

input {
    background-color: #25B0CC;
    border: 2px;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}